<!-- Meta tags -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="viewport" content="width=device-width" />

<!-- Primary Meta Tags -->
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
<meta name="description" content="{{ page.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ page.cover_image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | prepend: site.url }}">
<meta property="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
<meta property="twitter:description" content="{{ page.description }}">
<meta property="twitter:image" content="{{ page.cover_image }}">

<!-- Indieweb / Webmention -->
<link rel="webmention" href="https://webmention.io/reinhart1010.github.io/webmention" />
<link rel="pingback" href="https://webmention.io/reinhart1010.github.io/xmlrpc" />

<!-- Mobile-friendly -->
{% assign current_universe = page.categories.last | default: page.autopages.display_name | default: page.title | default: "home" %}
<meta name="theme-color" content="{{ page.theme_color | default: site.data.categories[current_universe].theme_color.primary | default: site.data.categories[current_universe].theme_color | default: '#0EA5E9' }}"/>