@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css");
@import url("fonts/iosevka-curly/iosevka-curly.css");
@import url("https://rsms.me/inter/inter.css");
:root { --heading-font-weight: 700; --sidebar-title-font-weight: 700; --code-color-1: #4FB6C3; --code-color-2: #4FB6C3; --code-color-3: #2563EB; --code-color-4: #C026D3; --code-color-5: #E11D48; --code-color-6: #D97706; --code-color-7: #65A30D; --code-color-8: #0891B2; }

@media (prefers-color-scheme: dark) { :root { --heading-font-weight: 700; --sidebar-title-font-weight: 700; --code-color-1: #4FB6C3; --code-color-2: #4FB6C3; --code-color-3: #93C5FD; --code-color-4: #F0ABFC; --code-color-5: #FDA4AF; --code-color-6: #FCD34D; --code-color-7: #BEF264; --code-color-8: #67E8F9; } }

body { font-family: 'Inter', sans-serif; letter-spacing: -0.01em; }

@supports (font-variation-settings: normal) { body { font-family: 'Inter var', sans-serif; } }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .logotype { font-family: "Kumbh Sans", Montserrat, "Century Gothic", sans-serif; }

.code, code, kbd, .text-monospace { font-family: "Iosevka Curly Web", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-stretch: expanded; }

.universe-title { text-transform: uppercase; font-weight: 900; letter-spacing: 4px; }

.universe-title span { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 30vw; display: inline-block; }

@media screen and (max-width: 576px) { .universe-title.condensed { letter-spacing: 1px; } }

@media screen and (max-width: 360px) { .universe-title { letter-spacing: 1px; } }

.card-title { font-weight: 700; }

#card-container { column-count: 3; }

#card-container > * { border: var(--card-border-width) solid var(--lm-card-border-color); box-shadow: var(--lm-card-box-shadow); -webkit-column-break-inside: avoid; display: inline-block; width: 100% !important; justify-items: center; }

@media (max-width: 1199px) { #card-container { column-count: 2; } }

@media (max-width: 991px) { #card-container { column-count: 1; } }

/* Style override for Instagram embed cards */
#card-container > blockquote.instagram-media { position: relative; padding: var(--content-and-card-spacing); color: var(--lm-card-text-color); background-color: var(--lm-card-bg-color); background-image: var(--lm-card-bg-image); border: var(--card-border-width) solid var(--lm-card-border-color) !important; -moz-box-shadow: var(--lm-card-box-shadow) !important; -webkit-box-shadow: var(--lm-card-box-shadow) !important; box-shadow: var(--lm-card-box-shadow) !important; border-radius: 0 !important; margin: 0 !important; }

/* Support for Adaptive Cards */
#card-container > div.ac-adaptiveCard { position: relative; margin: var(--content-and-card-spacing); padding: var(--content-and-card-spacing); color: var(--lm-card-text-color); background-color: var(--lm-card-bg-color); background-image: var(--lm-card-bg-image); border: var(--card-border-width) solid var(--lm-card-border-color); -moz-box-shadow: var(--lm-card-box-shadow); -webkit-box-shadow: var(--lm-card-box-shadow); box-shadow: var(--lm-card-box-shadow); }

.ac-pushButton { display: inline-block; height: var(--button-height); line-height: var(--button-line-height); padding: var(--button-padding); text-align: center; white-space: nowrap; cursor: pointer; color: var(--lm-button-text-color); background-color: var(--lm-button-bg-color); background-image: var(--lm-button-bg-image); border: var(--button-border-width) solid var(--lm-button-border-color); border-radius: var(--button-border-radius); -moz-box-shadow: var(--lm-button-box-shadow); -webkit-box-shadow: var(--lm-button-box-shadow); box-shadow: var(--lm-button-box-shadow); }

.ac-pushButton:hover { text-decoration: none; color: var(--lm-button-text-color-hover); background-color: var(--lm-button-bg-color-hover); background-image: var(--lm-button-bg-image-hover); border-color: var(--lm-button-border-color-hover); -moz-box-shadow: var(--lm-button-box-shadow-hover); -webkit-box-shadow: var(--lm-button-box-shadow-hover); box-shadow: var(--lm-button-box-shadow-hover); }

.ac-pushButton.active, .ac-pushButton:focus { color: var(--lm-button-text-color-focus); background-color: var(--lm-button-bg-color-focus); background-image: var(--lm-button-bg-image-focus); border-color: var(--lm-button-border-color-focus); -moz-box-shadow: var(--lm-button-box-shadow-focus); -webkit-box-shadow: var(--lm-button-box-shadow-focus); box-shadow: var(--lm-button-box-shadow-focus); outline: var(--button-outline-width) var(--button-outline-type) var(--lm-button-outline-color-focus); outline-offset: var(--button-outline-offset); }

.ac-pushButton.active:hover, .ac-pushButton:focus:hover { color: var(--lm-button-text-color-hover); background-color: var(--lm-button-bg-color-hover); background-image: var(--lm-button-bg-image-hover); }

.dark-mode .ac-pushButton { color: var(--dm-button-text-color); background-color: var(--dm-button-bg-color); background-image: var(--dm-button-bg-image); border-color: var(--dm-button-border-color); -moz-box-shadow: var(--dm-button-box-shadow); -webkit-box-shadow: var(--dm-button-box-shadow); box-shadow: var(--dm-button-box-shadow); }

.dark-mode .ac-pushButton:hover { color: var(--dm-button-text-color-hover); background-color: var(--dm-button-bg-color-hover); background-image: var(--dm-button-bg-image-hover); border-color: var(--dm-button-border-color-hover); -moz-box-shadow: var(--dm-button-box-shadow-hover); -webkit-box-shadow: var(--dm-button-box-shadow-hover); box-shadow: var(--dm-button-box-shadow-hover); }

.dark-mode .ac-pushButton.active, .dark-mode .ac-pushButton:focus { color: var(--dm-button-text-color-focus); background-color: var(--dm-button-bg-color-focus); background-image: var(--dm-button-bg-image-focus); border-color: var(--dm-button-border-color-focus); -moz-box-shadow: var(--dm-button-box-shadow-focus); -webkit-box-shadow: var(--dm-button-box-shadow-focus); box-shadow: var(--dm-button-box-shadow-focus); outline-color: var(--dm-button-outline-color-focus); }

.dark-mode .ac-pushButton.active:hover, .dark-mode .ac-pushButton:focus:hover { color: var(--dm-button-text-color-hover); background-color: var(--dm-button-bg-color-hover); background-image: var(--dm-button-bg-image-hover); }

.ac-pushButton.disabled, .ac-pushButton:disabled { cursor: not-allowed; opacity: .6; }

.ac-pushButton.disabled, .ac-pushButton.disabled:focus, .ac-pushButton.disabled:hover, .ac-pushButton:disabled { color: var(--lm-button-text-color); background-color: var(--lm-button-bg-color); background-image: var(--lm-button-bg-image); border-color: var(--lm-button-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

.dark-mode .ac-pushButton.disabled, .dark-mode .ac-pushButton.disabled:focus, .dark-mode .ac-pushButton.disabled:hover, .dark-mode .ac-pushButton:disabled { color: var(--dm-button-text-color); background-color: var(--dm-button-bg-color); background-image: var(--dm-button-bg-image); border-color: var(--dm-button-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

.dark-mode .ac-pushButton.alt-dm { color: var(--dm-button-alt-text-color); background-color: var(--dm-button-alt-bg-color); background-image: var(--dm-button-alt-bg-image); border-color: var(--dm-button-alt-border-color); -moz-box-shadow: var(--dm-button-alt-box-shadow); -webkit-box-shadow: var(--dm-button-alt-box-shadow); box-shadow: var(--dm-button-alt-box-shadow); }

.dark-mode .ac-pushButton.alt-dm:hover { color: var(--dm-button-alt-text-color-hover); background-color: var(--dm-button-alt-bg-color-hover); background-image: var(--dm-button-alt-bg-image-hover); border-color: var(--dm-button-alt-border-color-hover); -moz-box-shadow: var(--dm-button-alt-box-shadow-hover); -webkit-box-shadow: var(--dm-button-alt-box-shadow-hover); box-shadow: var(--dm-button-alt-box-shadow-hover); }

.dark-mode .ac-pushButton.alt-dm.active, .dark-mode .ac-pushButton.alt-dm:focus { color: var(--dm-button-alt-text-color-focus); background-color: var(--dm-button-alt-bg-color-focus); background-image: var(--dm-button-alt-bg-image-focus); border-color: var(--dm-button-alt-border-color-focus); -moz-box-shadow: var(--dm-button-alt-box-shadow-focus); -webkit-box-shadow: var(--dm-button-alt-box-shadow-focus); box-shadow: var(--dm-button-alt-box-shadow-focus); outline-color: var(--dm-button-alt-outline-color-focus); }

.dark-mode .ac-pushButton.alt-dm.active:hover, .dark-mode .ac-pushButton.alt-dm:focus:hover { color: var(--dm-button-alt-text-color-hover); background-color: var(--dm-button-alt-bg-color-hover); background-image: var(--dm-button-alt-bg-image-hover); }

.dark-mode .ac-pushButton.alt-dm.disabled, .dark-mode .ac-pushButton.alt-dm.disabled:focus, .dark-mode .ac-pushButton.alt-dm.disabled:hover, .dark-mode .ac-pushButton.alt-dm:disabled { color: var(--dm-button-alt-text-color); background-color: var(--dm-button-alt-bg-color); background-image: var(--dm-button-alt-bg-image); border-color: var(--dm-button-alt-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

.ac-pushButton.style-positive, .ac-pushButton.style-destructive { font-weight: bold; }

/* Positive Button */
.ac-pushButton.style-positive { color: var(--lm-button-primary-text-color); background-color: var(--lm-button-primary-bg-color); background-image: var(--lm-button-primary-bg-image); border-color: var(--lm-button-primary-border-color); -moz-box-shadow: var(--lm-button-primary-box-shadow); -webkit-box-shadow: var(--lm-button-primary-box-shadow); box-shadow: var(--lm-button-primary-box-shadow); }

.ac-pushButton.style-positive:hover { color: var(--lm-button-primary-text-color-hover); background-color: var(--lm-button-primary-bg-color-hover); background-image: var(--lm-button-primary-bg-image-hover); border-color: var(--lm-button-primary-border-color-hover); -moz-box-shadow: var(--lm-button-primary-box-shadow-hover); -webkit-box-shadow: var(--lm-button-primary-box-shadow-hover); box-shadow: var(--lm-button-primary-box-shadow-hover); }

.ac-pushButton.style-positive.active, .ac-pushButton.style-positive:focus { color: var(--lm-button-primary-text-color-focus); background-color: var(--lm-button-primary-bg-color-focus); background-image: var(--lm-button-primary-bg-image-focus); border-color: var(--lm-button-primary-border-color-focus); -moz-box-shadow: var(--lm-button-primary-box-shadow-focus); -webkit-box-shadow: var(--lm-button-primary-box-shadow-focus); box-shadow: var(--lm-button-primary-box-shadow-focus); outline-color: var(--lm-button-primary-outline-color-focus); }

.ac-pushButton.style-positive.active:hover, .ac-pushButton.style-positive:focus:hover { color: var(--lm-button-primary-text-color-hover); background-color: var(--lm-button-primary-bg-color-hover); background-image: var(--lm-button-primary-bg-image-hover); }

.dark-mode .ac-pushButton.style-positive { color: var(--dm-button-primary-text-color); background-color: var(--dm-button-primary-bg-color); background-image: var(--dm-button-primary-bg-image); border-color: var(--dm-button-primary-border-color); -moz-box-shadow: var(--dm-button-primary-box-shadow); -webkit-box-shadow: var(--dm-button-primary-box-shadow); box-shadow: var(--dm-button-primary-box-shadow); -webkit-font-smoothing: auto; -moz-osx-font-smoothing: auto; }

.dark-mode .ac-pushButton.style-positive:hover { color: var(--dm-button-primary-text-color-hover); background-color: var(--dm-button-primary-bg-color-hover); background-image: var(--dm-button-primary-bg-image-hover); border-color: var(--dm-button-primary-border-color-hover); -moz-box-shadow: var(--dm-button-primary-box-shadow-hover); -webkit-box-shadow: var(--dm-button-primary-box-shadow-hover); box-shadow: var(--dm-button-primary-box-shadow-hover); }

.dark-mode .ac-pushButton.style-positive.active, .dark-mode .ac-pushButton.style-positive:focus { color: var(--dm-button-primary-text-color-focus); background-color: var(--dm-button-primary-bg-color-focus); background-image: var(--dm-button-primary-bg-image-focus); border-color: var(--dm-button-primary-border-color-focus); -moz-box-shadow: var(--dm-button-primary-box-shadow-focus); -webkit-box-shadow: var(--dm-button-primary-box-shadow-focus); box-shadow: var(--dm-button-primary-box-shadow-focus); outline-color: var(--dm-button-primary-outline-color-focus); }

.dark-mode .ac-pushButton.style-positive.active:hover, .dark-mode .ac-pushButton.style-positive:focus:hover { color: var(--dm-button-primary-text-color-hover); background-color: var(--dm-button-primary-bg-color-hover); background-image: var(--dm-button-primary-bg-image-hover); }

.ac-pushButton.style-positive.disabled, .ac-pushButton.style-positive.disabled:focus, .ac-pushButton.style-positive.disabled:hover, .ac-pushButton.style-positive:disabled { color: var(--lm-button-primary-text-color); background-color: var(--lm-button-primary-bg-color); background-image: var(--lm-button-primary-bg-image); border-color: var(--lm-button-primary-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

.dark-mode .ac-pushButton.style-positive.disabled, .dark-mode .ac-pushButton.style-positive.disabled:focus, .dark-mode .ac-pushButton.style-positive.disabled:hover, .dark-mode .ac-pushButton.style-positive:disabled { color: var(--dm-button-primary-text-color); background-color: var(--dm-button-primary-bg-color); background-image: var(--dm-button-primary-bg-image); border-color: var(--dm-button-primary-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

/* Desctructive Button */
.ac-pushButton.style-destructive { color: var(--lm-button-danger-text-color); background-color: var(--lm-button-danger-bg-color); background-image: var(--lm-button-danger-bg-image); border-color: var(--lm-button-danger-border-color); -moz-box-shadow: var(--lm-button-danger-box-shadow); -webkit-box-shadow: var(--lm-button-danger-box-shadow); box-shadow: var(--lm-button-danger-box-shadow); }

.ac-pushButton.style-destructive:hover { color: var(--lm-button-danger-text-color-hover); background-color: var(--lm-button-danger-bg-color-hover); background-image: var(--lm-button-danger-bg-image-hover); border-color: var(--lm-button-danger-border-color-hover); -moz-box-shadow: var(--lm-button-danger-box-shadow-hover); -webkit-box-shadow: var(--lm-button-danger-box-shadow-hover); box-shadow: var(--lm-button-danger-box-shadow-hover); }

.ac-pushButton.style-destructive.active, .ac-pushButton.style-destructive:focus { color: var(--lm-button-danger-text-color-focus); background-color: var(--lm-button-danger-bg-color-focus); background-image: var(--lm-button-danger-bg-image-focus); border-color: var(--lm-button-danger-border-color-focus); -moz-box-shadow: var(--lm-button-danger-box-shadow-focus); -webkit-box-shadow: var(--lm-button-danger-box-shadow-focus); box-shadow: var(--lm-button-danger-box-shadow-focus); outline-color: var(--lm-button-danger-outline-color-focus); }

.ac-pushButton.style-destructive.active:hover, .ac-pushButton.style-destructive:focus:hover { color: var(--lm-button-danger-text-color-hover); background-color: var(--lm-button-danger-bg-color-hover); background-image: var(--lm-button-danger-bg-image-hover); }

.dark-mode .ac-pushButton.style-destructive { color: var(--dm-button-danger-text-color); background-color: var(--dm-button-danger-bg-color); background-image: var(--dm-button-danger-bg-image); border-color: var(--dm-button-danger-border-color); -moz-box-shadow: var(--dm-button-danger-box-shadow); -webkit-box-shadow: var(--dm-button-danger-box-shadow); box-shadow: var(--dm-button-danger-box-shadow); -webkit-font-smoothing: auto; -moz-osx-font-smoothing: auto; }

.dark-mode .ac-pushButton.style-destructive:hover { color: var(--dm-button-danger-text-color-hover); background-color: var(--dm-button-danger-bg-color-hover); background-image: var(--dm-button-danger-bg-image-hover); border-color: var(--dm-button-danger-border-color-hover); -moz-box-shadow: var(--dm-button-danger-box-shadow-hover); -webkit-box-shadow: var(--dm-button-danger-box-shadow-hover); box-shadow: var(--dm-button-danger-box-shadow-hover); }

.dark-mode .ac-pushButton.style-destructive.active, .dark-mode .ac-pushButton.style-destructive:focus { color: var(--dm-button-danger-text-color-focus); background-color: var(--dm-button-danger-bg-color-focus); background-image: var(--dm-button-danger-bg-image-focus); border-color: var(--dm-button-danger-border-color-focus); -moz-box-shadow: var(--dm-button-danger-box-shadow-focus); -webkit-box-shadow: var(--dm-button-danger-box-shadow-focus); box-shadow: var(--dm-button-danger-box-shadow-focus); outline-color: var(--dm-button-danger-outline-color-focus); }

.dark-mode .ac-pushButton.style-destructive.active:hover, .dark-mode .ac-pushButton.style-destructive:focus:hover { color: var(--dm-button-danger-text-color-hover); background-color: var(--dm-button-danger-bg-color-hover); background-image: var(--dm-button-danger-bg-image-hover); }

.ac-pushButton.style-destructive.disabled, .ac-pushButton.style-destructive.disabled:focus, .ac-pushButton.style-destructive.disabled:hover, .ac-pushButton.style-destructive:disabled { color: var(--lm-button-danger-text-color); background-color: var(--lm-button-danger-bg-color); background-image: var(--lm-button-danger-bg-image); border-color: var(--lm-button-danger-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

.dark-mode .ac-pushButton.style-destructive.disabled, .dark-mode .ac-pushButton.style-destructive.disabled:focus, .dark-mode .ac-pushButton.style-destructive.disabled:hover, .dark-mode .ac-pushButton.style-destructive:disabled { color: var(--dm-button-danger-text-color); background-color: var(--dm-button-danger-bg-color); background-image: var(--dm-button-danger-bg-image); border-color: var(--dm-button-danger-border-color); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }

/* Blog content */
.blog.content { font-size: 1.25em; line-height: 1.75; word-wrap: break-word; }

.blog.content img { max-width: 100%; }

/* Render blockquotes as cards */
.blog.content blockquote, .dark-mode .blog.content blockquote { background-image: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.blog.content blockquote { position: relative; margin: 0; margin-top: 1.5em; margin-bottom: 1.5em; padding: 2rem; color: rgba(0, 0, 0, 0.85); background-color: var(--gray-color-light); border-radius: .4rem; border: 1px solid rgba(0, 0, 0, 0.2); }

.blog.content blockquote p:first-child { margin-top: 0; }

.blog.content blockquote p:last-child { margin-bottom: 0; }

.dark-mode .blog.content blockquote { color: rgba(255, 255, 255, 0.8); background-color: var(--dark-color-dark); border-color: rgba(0, 0, 0, 0.2); }

.blog.content pre { word-wrap: normal; padding: 20px; border-radius: 4px; background-color: rgba(0, 0, 0, 0.05); white-space: pre; transform: translate3d(0, 0, 0); overflow-x: auto; -webkit-overflow-scrolling: touch; word-wrap: normal; -moz-tab-size: 4; -o-tab-size: 4; -webkit-tab-size: 4; -ms-tab-size: 4; tab-size: 4; }

.dark-mode .blog.content pre { background-color: rgba(0, 0, 0, 0.3); }

.highlight .c { color: #5B6370; font-style: italic; }

.highlight .err { color: #960050; background-color: #1e0010; }

.highlight .k { color: var(--code-color-4); font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #5B6370; font-style: italic; }

.highlight .cp { color: #5B6370; font-weight: bold; }

.highlight .c1 { color: #5B6370; font-style: italic; }

.highlight .cs { color: #5B6370; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #5B6370; }

.highlight .gi { color: #a6e22e; background-color: #dfd; }

.highlight .gi .x { color: #a6e22e; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { color: var(--code-color-4); font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: var(--code-color-8); }

.highlight .s { color: var(--code-color-7); }

.highlight .na { color: var(--code-color-6); }

.highlight .nb { color: var(--code-color-8); }

.highlight .nc { color: var(--code-color-6); font-weight: bold; }

.highlight .nd { color: var(--code-color-8); }

.highlight .no { color: var(--code-color-8); }

.highlight .ni { color: var(--code-color-6); }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: var(--code-color-3); font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: var(--code-color-5); }

.highlight .nv { color: var(--code-color-5); }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: var(--code-color-8); }

.highlight .mh { color: var(--code-color-8); }

.highlight .mi { color: var(--code-color-8); }

.highlight .mo { color: var(--code-color-8); }

.highlight .sb { color: var(--code-color-7); }

.highlight .sc { color: var(--code-color-7); }

.highlight .sd { color: #5B6370; }

.highlight .s2 { color: var(--code-color-7); }

.highlight .se { color: var(--code-color-7); }

.highlight .sh { color: var(--code-color-7); }

.highlight .si { color: var(--code-color-7); }

.highlight .sx { color: var(--code-color-7); }

.highlight .sr { color: #009926; }

.highlight .s1 { color: var(--code-color-7); }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: var(--code-color-8); }

.apps-container b { font-weight: 500; letter-spacing: -0.8px; }

.apps-container a { text-decoration: none; color: inherit; }

.apps-container img, .apps-container .img { width: 80%; max-width: 96px; height: auto; border-radius: 16px; }

/*# sourceMappingURL=style.css.map */